@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');


.mainWrapper {
    font-family: "Edu VIC WA NT Beginner", Arial, Helvetica, sans-serif;
    position: relative; 
    height: 100vh;
    width: 100%;
    background-image: url("../../img/windmill.jpeg");
    color: white;
    
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.heading {
    color: white;
    font-size: 50px;
    text-shadow: 4px 2px #000000;
    padding-bottom: 20px;
}


.editBtn {
    font-size: 30px;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    color: white;
    border: 1px solid white;
    border-radius: 10%;

    text-decoration: none;

}

.delBtn {
    font-size: 30px;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    background-color: transparent;
    cursor: pointer;
}
.comment {
    display: flex;
    gap: 10px;
}

.img {
    width: auto;
    height: 200px;
}
.commentsWrapper {
    color: white;
    text-decoration: underline;
    position:relative;
}


.btnSubmit {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    position:absolute;
    border-radius: 5%;
}

.commentsText {
    padding: 10px 0px;
}