.header {
    background-color: white;
    display: flex;
    justify-content: end;

    align-items: flex-start;
    gap: 20px;
}

.headerLinks {
    padding-right: 40px;
    text-transform: uppercase;  
}

.headerLinkElement {
    text-decoration: none;
}


.home {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}