.footer {
    background-color: lightblue;
    display: flex;
    justify-content: start;

    align-items: flex-start;
    gap: 20px;
    border-bottom: 1px groove gray;
}

.footerLinks {
    padding-right: 40px;
    text-transform: uppercase;  
}

.footerLinkElement {
    color: white;
    text-shadow: 1px 1px #000000;
    text-decoration: none;
    cursor: pointer;
}


.home {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}