.footer {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px groove gray;
    color: white;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
}
