@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');


.heading {
    font-family: "Edu VIC WA NT Beginner", Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: white;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 4px 2px #000000;
    
}

.subheading {
    font-family: "Edu VIC WA NT Beginner", Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 96px;
    margin-top: -40px;
    padding-bottom: 10px;
}