@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');


.mainWrapper {
    font-family: "Edu VIC WA NT Beginner", Arial, Helvetica, sans-serif;
    background-color: lightblue;
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/waterfall.jpeg");
    color: white;
}

.heading {
    color: white;
    font-size: 70px;
    text-shadow: 4px 2px #000000;
    padding-bottom: 40px;
}

.innerWrapper {
    border: 2px solid white;
    border-radius: 5%;
    padding: 10px;
}

.sendToLogInBtn {
    color: lightgray;
}

.inputFields {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.registerBtn {
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
}